<form [formGroup]="formObj" (submit)="onFrmSubmit()">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="Name"
        />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
          placeholder="Username"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Email"
        />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          formControlName="phone"
          placeholder="Phone"
        />
      </div>
    </div>
  </div>

  <div class="row" formGroupName="address">
    <div class="col-sm-6 col-md-3">
      <div class="form-group">
        <label for="suite">Flat/Apt./Plot No.</label>
        <input
          type="text"
          class="form-control"
          id="suite"
          formControlName="suite"
          placeholder="Suite"
        />
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="form-group">
        <label for="street">Street</label>
        <input
          type="text"
          class="form-control"
          id="street"
          formControlName="street"
          placeholder="Street"
        />
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          formControlName="city"
          placeholder="City"
        />
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="form-group">
        <label for="zipcode">Zipcode</label>
        <input
          type="text"
          class="form-control"
          id="zipcode"
          formControlName="zipcode"
          placeholder="Zipcode"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="website">Website</label>
        <input
          type="text"
          class="form-control"
          id="website"
          formControlName="website"
          placeholder="Website"
        />
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-sm" [disabled]="frm.invalid">
    Submit
  </button>
</form>
